/* .shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
} */
.category{
   
        /* Font & Text */
        
        font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 22.8571px;
        text-decoration: none solid rgb(102, 102, 102);
        text-align: start;
        text-indent: 0px;
        text-transform: none;
        vertical-align: baseline;
        white-space: normal;
        word-spacing: 0px;
    
        /* Color & Background */
        background-attachment: scroll;
        background-color: rgb(255, 255, 255);
        background-image: none;
        background-position: 0% 0%;
        background-repeat: repeat;
        color: rgb(102, 102, 102);
    
        /* Box */
        height: 310.844px;
        width: 1061.66px;
        border: 0px none rgb(102, 102, 102);
        border-top: 0px none rgb(102, 102, 102);
        border-right: 0px none rgb(102, 102, 102);
        border-bottom: 0px none rgb(102, 102, 102);
        border-left: 0px none rgb(102, 102, 102);
        margin: 10px 0px 0px;
        padding: 0px;
        max-height: none;
        min-height: 150px;
        max-width: none;
        min-width: 0px;
    
        /* Positioning */
        position: static;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        float: none;
        display: inline-block;
        clear: none;
        z-index: auto;
    
        /* List */
        list-style-image: none;
        list-style-type: disc;
        list-style-position: outside;
    
        /* Table */
        border-collapse: separate;
        border-spacing: 0px 0px;
        caption-side: top;
        empty-cells: show;
        table-layout: auto;
    
        /* Miscellaneous */
        overflow: visible;
        cursor: auto;
        visibility: visible;
    
        /* Effects */
        transform: none;
        transition: all 0s ease 0s;
        /* outline: rgb(255, 0, 0) dashed 1px; */
        outline-offset: 0px;
        box-sizing: border-box;
        resize: none;
        text-shadow: none;
        text-overflow: clip;
        word-wrap: normal;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 7px 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .parent{
        height: 50vw;
        border: 1px solid black;
        width: 100%;
    }
    .productsouter{
        max-width: 1000px;
        margin: 0 auto;
        font-size: 16px;
        /* visibility: visible!important; */
        min-height: 210px;
    min-width: 300px;
    line-height: 1.42857143;
    color: #333;
    }
    .name{
        color: #212121;
    font-size: 14px;
    margin-bottom: 3px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3em;
    width: 93%;
    margin: auto;
    }
    .all{
        width: 93%;
    margin: auto;
    }
    .description{
        font-size: 12px;
    color: #757575;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    margin-top:5px;
    }
    .rating{
        display: inline-block;
        font-size: 12px;
    }
    .rating1{
        background-color: rgb(26, 171, 42);
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    padding: 1px 5px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    }
    .rating2{
        display: inline-block;
        color: rgba(0,0,0,.58);
        margin-right: 5px;
        vertical-align: middle;
        cursor: pointer;
    }
    .cutprice{
        text-decoration: line-through;
    }
    .mainall{
        display: block;
    width: 150px;
    overflow: hidden;
    text-align: left;
    }